:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  text-align: center;
  background-color: #4d908e;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: #277da1;
}

footer {
  text-align: center;
  background-color: #43aa8b;
  padding: 1rem;
}
